<h1>Ajax Image Uploading</h1>
<div id="images">
  <%= render :partial => "image", :collection => @images %>
 </div>
<br/>
<div style="clear:both;padding-top:20px;">
<%= render :partial => 'upload_form', :locals => { :collection_url => collection_url } %>
</div>
<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>